/* FONTS */

/* NAV FONT */
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

@font-face {
    font-family: 'Noe-DisplayBold';
    src: url("/src/fonts/Noe-Display-Bold.ttf");
    }
        

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    --backgroung: #eef4f7;
    --textcolor-normal: #2c333d;
    --displaycolor: #21252A; 
    --displaycolormuted: #6C757D;
    --linkcolorbefore: #495b63;
    --linkcolorafter: #052331; 
    
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h4 {
    padding-left: 50%;
    font-family: 'Noe-DisplayBold';
    position: absolute;
}

.container {
    margin-top: 15%;
    margin-left: 15%;
    justify-content: center;
    font-family: 'Noe-DisplayBold';
}

.container #social {
    margin: 0 auto;
    width: 50%;
    font-size: 3.5em;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    font-family: 'Gelasio', serif;
    font-size: larger;
 }

 #meCafeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
a {
    color: var(--linkcolorbefore);
}
/*a:hover{
    color: var(--linkcolorafter);
    text-decoration: underline overline;
}*/
#linkedin:hover{
    color: #0E76A8;
}
#instagram:hover{
    color:  #E1306C;
}
#git:hover{
    color: #c9510c;
}


@media (max-width:600px){
    .navbar-nav{
        margin: 0 auto;
        transform: translateX(39%);
    }
    .container {
        margin: 0 auto;
    }
    .container #social {
        margin-top: 50%;
        width: 25%;
    }
    .display-1{
        padding-top: 20%;
        font-size: 250%;
    }
}

@media (max-width:1028px){
    .navbar-nav{
        margin: 0 auto;
        transform: translate(-1%);
    }
    
    .container #social {
        margin-top: 50%;
    }
}