/* FONTS */

/* NAV FONT */
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

    .display-1 {
    margin-left: 50%;
    margin-top: 30%;
    transform: translate(-45%, -30%);
    font-family: 'Gelasio', serif;
    position: absolute;
}
 .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    font-family: 'Gelasio', serif;
    font-size: larger;
 }

a {
    color: rgb(119, 115, 115);
}
a:hover{
    color: rgba(31, 30, 30);
    text-decoration: underline overline;
}