/* FONTS */

/* NAV FONT */
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

@font-face {
    font-family: 'Noe-DisplayBold';
    src: url("/src/fonts/Noe-Display-Bold.ttf");
    }
        

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h4 {
    padding-left: 50%;
    font-family: 'Noe-DisplayBold';
    position: absolute;
}

.display-1 {
    margin-left: 50%;
    margin-top: 15%;
    transform: translate(-45%, -30%);
    font-family: 'Noe-DisplayBold';
    position: absolute;

    
}
.display-2 {
    font-family: 'Noe-DisplayBold', serif;
  
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    font-family: 'Gelasio', serif;
    font-size: larger;
 }

 #meCafeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
a {
    color: rgb(119, 115, 115);
}
a:hover{
    color: rgba(31, 30, 30);
    text-decoration: underline overline;
}


@media (max-width:600px){
    .display-1{
        padding-top: 20%;
        font-size: 450%;
    }
