@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.html {
    scroll-behavior: smooth;
}

.body{
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
}
.seite {
    width: 100vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.one {
    background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    color: #f1f1f1;
    max-width: 100%;

}
#GetStarted {
  margin-top: 55px;
}

.two {
    background: #e0dcd1;
}
.three {
    background: #e0dcd1;
}
.four {
    background: #e0dcd1;
}
.five {
    background: #e0dcd1;
    /*background: linear-gradient(to  bottom right, #e0dcd1, rgb(41, 46, 49));*/
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display : none;
}

section.pricing {
    background: #e0dcd1;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  
#freeButton {
    background: #CD7F32;
    background: linear-gradient(to bottom, #CD7F32 0%, #BE7023 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CD7F32), color-stop(100%, #BE7023));
    background: -webkit-linear-gradient(top, #CD7F32 0%, #BE7023 100%);
    background: -moz-linear-gradient(top, #CD7F32 0%, #BE7023 100%);
    background: -o-linear-gradient(top, #CD7F32 0%, #BE7023 100%);
    background: -ms-linear-gradient(top, #CD7F32 0%, #BE7023 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CD7F32', endColorstr='#BE7023', GradientType=0);
    border: 1px solid #AF6114;
    box-shadow: inset 0 1px 0 #DC8E41;
    -webkit-box-shadow: inset 0 1px 0 #DC8E41;
    -moz-box-shadow: inset 0 1px 0 #DC8E41;
  }
#silverButton {
  background: #BFC1C2;
  background: linear-gradient(to bottom, #BFC1C2 0%, #B0B2B3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BFC1C2), color-stop(100%, #B0B2B3));
  background: -webkit-linear-gradient(top, #BFC1C2 0%, #B0B2B3 100%);
  background: -moz-linear-gradient(top, #BFC1C2 0%, #B0B2B3 100%);
  background: -o-linear-gradient(top, #BFC1C2 0%, #B0B2B3 100%);
  background: -ms-linear-gradient(top, #BFC1C2 0%, #B0B2B3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFC1C2', endColorstr='#B0B2B3', GradientType=0);
  border: 1px solid #A1A3A4;
  box-shadow: inset 0 1px 0 #CED0D1;
  -webkit-box-shadow: inset 0 1px 0 #CED0D1;
  -moz-box-shadow: inset 0 1px 0 #CED0D1;
  }

#goldButton {
    background: #B8860B;
    background: linear-gradient(to bottom, #B8860B 0%, #A97700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B8860B), color-stop(100%, #A97700));
    background: -webkit-linear-gradient(top, #B8860B 0%, #A97700 100%);
    background: -moz-linear-gradient(top, #B8860B 0%, #A97700 100%);
    background: -o-linear-gradient(top, #B8860B 0%, #A97700 100%);
    background: -ms-linear-gradient(top, #B8860B 0%, #A97700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8860B', endColorstr='#A97700', GradientType=0);
    border: 1px solid #9A6800;
    box-shadow: inset 0 1px 0 #C7951A;
    -webkit-box-shadow: inset 0 1px 0 #C7951A;
    -moz-box-shadow: inset 0 1px 0 #C7951A;
  }
#myVideo {
    positiion: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .filmtext {
    position: fixed;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    width: 10%;
    padding: 20px;
  }

#prezedur {
  overflow: auto;
}